general/NodeRedFlowJson/NodeRed-TP-Flow-Done copy.json
[
    {
        "id": "ea96b2de9148f6bc",
        "type": "tab",
        "label": "Rent Register",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ecc6ee3ba86cb5d",
        "type": "mqtt out",
        "z": "ea96b2de9148f6bc",
        "name": "",
        "topic": "receiver",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1769fb1.3c11385",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "8e3dcac06a5e186d",
        "type": "function",
        "z": "ea96b2de9148f6bc",
        "name": "",
        "func": "var newData = JSON.parse(msg.payload)\n\nvar date = new Date(newData.travelStartDate)\nvar finalDate = new Date(date.getTime() + newData.travelDuration * 60000);\n\nmsg.payload = { \n    idVehicle: newData.idVehicle,\n    source: newData.source,\n    destiny:  newData.destiny,\n    typeVehicle: newData.typeVehicle,\n    endDate: finalDate,\n    startDate: date,\n    signalState: 'out',\n    travelDuration: newData.travelDuration,\n    travelUniqueID: newData.travelUniqueID,\n    emailUser: newData.emailUser,\n    travelCost: newData.travelCost\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "dee3cd642c489c52",
                "1ecc6ee3ba86cb5d"
            ]
        ]
    },
    {
        "id": "dee3cd642c489c52",
        "type": "debug",
        "z": "ea96b2de9148f6bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "8353199771996f51",
        "type": "comment",
        "z": "ea96b2de9148f6bc",
        "name": "mqtt out node -  localhost:1883",
        "info": "",
        "x": 690.6666870117188,
        "y": 90,
        "wires": []
    },
    {
        "id": "e6574435ffd12794",
        "type": "mqtt in",
        "z": "ea96b2de9148f6bc",
        "name": "",
        "topic": "rent",
        "qos": "2",
        "datatype": "auto",
        "broker": "f7837bd89a823eca",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "8e3dcac06a5e186d"
            ]
        ]
    },
    {
        "id": "1769fb1.3c11385",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f7837bd89a823eca",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]